@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --primary: #2a367a;
  --secondary: #6d28d9;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
